.btn, .btn-large {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    border: none;
    text-shadow: none;
}

.btn-group .btn:first-child {
    /*-webkit-border-top-left-radius: 0;*/
    /*-moz-border-radius-topleft: 0;*/
    /*border-top-left-radius: 0;*/
    /*-webkit-border-bottom-left-radius: 0;*/
    /*-moz-border-radius-bottomleft: 0;*/
    /*border-bottom-left-radius: 0;*/
    border: none;
}

.btn-group .btn:last-child,
.btn-group .dropdown-toggle {
    /*-webkit-border-top-right-radius: 0;*/
    /*-moz-border-radius-topright: 0;*/
    /*border-top-right-radius: 0;*/
    /*-webkit-border-bottom-right-radius: 0;*/
    /*-moz-border-radius-bottomright: 0;*/
    /*border-bottom-right-radius: 0;*/
    border: none;
}

.btn.active, .btn:active{
    background-color: #b6b6b6;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

a:hover {
    text-decoration: none;
}